.gameconsole {
  width: 90%;
  margin: auto;
  text-align: center;
}

strong {
  background: green;
  color: white;
  font-weight: inherit;
}

Button.startGame{
  margin: 1rem
}

Button.restartGame {
  margin: 1rem
}

