.gameconsole {
  display: flex;
  height: 100vh;
  text-align: center;
  height: 100%;
}

.game-area {
  width: 70%;
}

strong {
  background: green;
  color: white;
  font-weight: inherit;
}

button.startGame{
  background-color: #91684a;
  color: white;
  border-color: #91684a;
  margin: 1rem
}

button.startGame:hover {
  background-color: #5f4431;
  color: white;
  border-color: #5f4431
}

button.restartGame {
  background-color: #91684a;
  color: white;
  border-color: #91684a;
  margin: 1rem
}

button.restartGame:hover {
  background-color: #5f4431;
  color: white;
  border-color: #5f4431
}

div.gamePlayNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
}

div.gameTimer {
  font-size: xx-large;
}

div.gameTimerOver {
  color: red;
  font-size: xx-large;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}