.gameconsole {
  display: flex;
  height: 100vh;
  text-align: center;
}

.game-area {
  width: 70%;
}

strong {
  background: green;
  color: white;
  font-weight: inherit;
}

Button.startGame{
  margin: 1rem
}

Button.restartGame {
  margin: 1rem
}

