.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #91091e;
  border-radius: 4px 4px 0 0;
  height: 50px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.7;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
  height: 50px;
}

.rightInnerContainer {
  display: flex;
  flex: 0.3;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.title{
  margin-bottom: 0;
}