div.leadercontainer.container {
  margin-top: 1rem;
}

div.leaderboard {
  text-align: center;
}

div.googleMap {
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

tr.firstrow {
  background: #e9e6db;
}

tr.secondrow {
  background: #c4b7a6;
}