img.navbar-avatar {
padding-right: 2px;
margin-left: -5px
}

button#dropdown-basic.dropdown-toggle.btn.btn-primary::after{
  margin: 0
}

button#dropdown-basic.dropdown-toggle.btn.btn-primary{
  background-color: #91684a;
  border-color: #91684a;
  border-radius: 75%;
  height: 50px;
  width: 50px;
  padding-left: 10px;
  box-shadow: none;
}


.typecraft-navbar-name {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
}

a.navLink{
  color: white
}

a.navLink:hover{
  color:#5f4431
}

a.navBrand{
  margin-bottom: 9px;
  margin-right: 0 
}

