Form.register-form {
  margin: 1rem 15rem 1rem 15rem;
  border: solid black;
  border-radius: 25px;
}

button.formSubmitButton {
  background-color: #91684a;
  color: white;
  border-color: #91684a;
  box-shadow: none;
}

button.formSubmitButton:hover{
  background-color: #5f4431;
  color: white;
  border-color: #5f4431;
  box-shadow: none;
}

h3 {
  text-align: center;
}

div.form-group {
  margin-top: 1rem
}

div.form-row {
  margin: -20px
}

img.registerAvatar {
  height:2rem;
  width: 2rem;
  margin-right: 1rem
}

div.avatarCheckButton {
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

fieldset {
  margin: 1rem
}