.welcome-container {
  text-align: center;
}

.typing-icon {
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
}

a.btn {
  margin-top: 2rem;
}

.fadeIn{
  opacity:1;
  /* width:100px;
  height:100px; */
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}