.welcome-container {
  /* text-align: center; */
  height: 100%;
}

.container-of-bg {
  /* background-image: url("./keyboard-white.jpg"); */
  background-image: url("./whitekeyboard.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 0;
}

.welcome-text-box {
  /* margin-top: 12rem; */
  margin-top: 2rem;
  margin-bottom: 12rem;
}

.welcome-to-typecraft {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Abril Fatface', cursive;
  /* font-weight: 800; */
  font-size: 6rem;
  margin-bottom: 2rem;
}

h2, h3 {
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-weight: 300; */
  font-size: 5rem;
}

.typing-icon {
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
  margin: auto;
}

.startGameButton {
  margin: 1rem;
  margin-left: 0;
}