.typecraft-logo {
  width: 2rem;
  margin-right: 1rem;
}

.navbar-avatar {
  width: 2rem;
  height: 2rem;
}

div.dropdown-menu-container {
  left: -250%
}

/* .app {
  font-family: 'Press Start 2P', cursive;
} */

body {
  margin: 0;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}

nav {
  display: flex;
  text-align: center;
  background-color: #503d81;
  width: 100%;
  padding: 20px;
  color: #f8f8f8;
}

.content {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 600px;
  font-size: 1.2rem;
  line-height: 1.1;
  height: 90vh;
}

.dark-theme {
  background-color: #1f1b24;
  color: #f8f8f8;
}

.dark-theme nav {
  background-color: #332940;
}

.dark-theme code {
  color: red;
}