.typecraft-logo {
  width: 2rem;
  margin-right: 1rem;
}

.navbar-avatar {
  width: 2rem;
  height: 2rem;
}

div.dropdown-menu-container {
  left: -250%
}

/* .app {
  font-family: 'Press Start 2P', cursive;
} */